body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    color:lightslategrey;
    text-align: center;
}

.dishes #dishes-title{
    color: red;
}

.drinks #drinks-title{
    color: red;
}